/* This is the stylesheet for Crazy Bobs Pumpkin Patch*/

html, body, header, nav, footer, div, h1, h2, h3, h4, h5, h6, p, ul, li{ 
    margin:0;
    padding:0;
}
body{
    background-color:darkslateblue;
    font-family:'tahoma', san-serif;
    color:#000000;
}
div#container {
    border: 1px solid darkslateblue;
    width:1024px;
    height:768px;
    margin:auto;
}

div#container header {
    background-color:lightslategrey;
    background-image: url(images/little%20orange%20pumpkins.jpg);
    background-repeat: no-repeat;
    background-position:left top;
    background-size: cover;
    color:black;
    width:100%;
    height:auto;
    text-align:center;
}
div#container header h1 {
    padding:90px;
    color:#721E96;
    text-shadow;
}
nav ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: black;
}
nav ul li {
    float: left;
    }
nav ul li a{
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none; 
}
nav ul li a:hover{
    background-color:darkslateblue;
}

.active{
    background-color:darkorange;
}
div#content{
    display:block;
    width:1019px;
    height:auto;
    padding:5px;
    background-color:white;
}
img#colorpumpkins{
    float:left;
    width:180px;
}
img#cutejack{
    float:left;
    width:170px;
}
img#handsfruit{
    margin-left:380px;
    margin-top:70px;
    margin-bottom:5px;
    width:300px;
}
img#farmer{
    float:right;
    width:230px; 
    margin-right:209px;
    margin-top:20px;
}

img#fertilizer{
    float:left;
    width:300px;
    margin-left:280px;
    margin-top:75px;
}

h2{
    float:left;
    margin: 0 10px;
    width:750px;
}
p{
    float:left;
    margin:10px;
    width:750px;
}
footer{
    padding-top:22px;
    width:100%;
    height:50px;
    color:white;
    background-color:black;
    text-align:center;
}

/*Gallery Page*/
div#gallery{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
}
div#gallery .frame{
    background-color:bisque;
    border:2px solid black;
    float:left;
}
div#gallery .frame figcaption{
    text-align: center;
    padding-bottom: 5px;
}
img.galleryimg{
    width:200px;
    height:150px;
    margin: 5px 10px;
}
/* Contact */
form fieldset{
    background-color:white
}
form fieldset legend {
    border:1px solid black;
    background-color:lightcyan;
    font-weight: bold;
}
form input {
    margin: 5px 0;
}
/* Keep Web Pages Open*/
.keepOpen{
    clear:both;
}
