/* This is the stylesheet for Crazy Bobs Pumpkin Patch*/

html, body, header, nav, footer, div, h1, h2, h3, h4, h5, h6, p, ul, li{ 
    margin:0;
    padding:0;
}
body{
    background-color:darkslateblue;
    font-family:'tahoma', san-serif;
    color:#000000;
}
div#container {
    border: 1px solid orange;
    background-color:white;
    width:1024px;
    height:768px;
    margin:auto;
}

div#container header {
    background-color:lightslategrey;
    background-image: url(images/little%20orange%20pumpkins.jpg);
    background-repeat: no-repeat;
    background-position:left top;
    background-size: cover;
    color:black;
    width:100%;
    height:200px;
    text-align:center;
}
div#container header h1 {
    padding:80px;
    color:#721E96;
    text-shadow;
}
nav ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: black;
}
nav ul li {
    float: left;
    }
nav ul li a{
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none; 
}
nav ul li a:hover{
    background-color:darkorange;
}

.active{
    background-color:darkorange;
}
div#content{
    display:block;
    width:1019px%;
    height:440px;
    padding:5px;
}
img#colorpumpkins{
    float:left;
    width:180px;
}
img#cutejack{
    float:left;
    width:170px;
}
img#farmer{
    float:right;
    width:200px; 
    margin-right:100px;
}
img#handsfruit{
    margin-left:380px;
    margin-top:80px;
    width:300px;
}
h2{
    float:left;
    margin: 0 10px;
    width:750px;
}
p{
    float:left;
    margin:10px;
    width:750px;
}
footer{
    padding-top:22px;
    width:100%;
    height:50px;
    color:white;
    background-color:black;
    text-align:center;
}
}

